.mini-container {
  width: 100%;
  max-width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
.text-decoration-line-through {
  text-decoration: line-through;
  color: #808080;
}
.btn-sm{
  max-height: 32px;
}